/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.not-selected-info {
  height: 100%;
  color: #EEEEEE;
  font-size: 5em;
}
