<div fxLayout="row" class="container">
  <div fxLayout="column" fxFlex="20">
    <button class="add-config-button" mat-raised-button color="primary" (click)="onAddConfiguration()">Add new
      configuration
    </button>
    <app-configuration-list
      [configurations]="configuration.gpio_to_rest"
      (onSelect)="onSelectConfiguration($event)">
    </app-configuration-list>
  </div>

  <div fxLayout="column" fxFlex="80">
    <div class="documentation">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Documentation
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h4>Variables:</h4>
          <ul>
            <li>{{'{pin_state}'}} - placeholder is replaced in endpoint and body to the state of GPIO pin,
              representation
              of pin state is 1 or 0.
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Examples
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h3>Sample GET request</h3>
          <div><b>Name: </b>Lamp in bedroom</div>
          <div><b>GPIO Pin: </b>2</div>
          <div><b>Host: </b>localhost</div>
          <div><b>Port: </b>8080</div>
          <div><b>Endpoint: </b>/api/superservice/{{'{pin_state}'}}</div>
          <div><b>Method: </b>GET</div>

          <h3>Sample POST request</h3>
          <div><b>Name: </b>Lamp in bedroom</div>
          <div><b>GPIO Pin: </b>2</div>
          <div><b>Host: </b>localhost</div>
          <div><b>Port: </b>8080</div>
          <div><b>Endpoint: </b>/api/superservice/{{'{pin_state}'}}</div>
          <div><b>Method: </b>POST</div>
          <div><b>Body: </b>
            {{'{
              "param1":"static_value",
              "param2":"{pin_state}"
              }'}}
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <app-output-configuration-form
      *ngIf="isFormVisible()"
      (onSaveClick)="onSaveConfiguration($event)"
      (onDeleteClick)="onDeleteConfiguration($event)"
      [configuration]="selectedConfigurationRule"
      [metaConfiguration]="metaConfiguration"
    ></app-output-configuration-form>

    <div *ngIf="!isFormVisible()" fxLayout="column" fxLayoutAlign="center center" class="not-selected-info">
      REST
      <mat-icon>arrow_upward</mat-icon>
      GPIO
    </div>
  </div>
</div>
