<div class="menu-item" [class.selected]="isSelected()" fxLayoutAlign="center center" fxLayout="column" routerLink="{{routerLink}}">
  {{topName}}
  <mat-icon>{{iconName}}</mat-icon>
  {{name}}
</div>
