<cdk-virtual-scroll-viewport itemSize="50" class="list-container">
  <mat-list>
    <mat-list-item *ngFor="let item of configurations" (click)="onSelectConfiguration(item)" [class.selected]="isSelected(item)" class="list-item">
      <mat-icon mat-list-icon>code</mat-icon>
      <h4 mat-line>{{item.name}}</h4>
      <!--<p mat-line> Pin 3 -> http://external.io/dasda/ </p>-->
    </mat-list-item>
  </mat-list>
</cdk-virtual-scroll-viewport>
