<div fxLayout="column" fxFill>
  <mat-toolbar color="primary">
    <span>gRESTpIO</span>
  </mat-toolbar>


  <div fxLayout="row" class="main-container">
    <div fxLayout="column" class="left-menu-container">
      <app-left-menu-item name="GPIO" topName="REST" iconName="arrow_upward" routerLink="/output"></app-left-menu-item>
      <app-left-menu-item name="GPIO" topName="REST" iconName="arrow_downward" routerLink="/input"></app-left-menu-item>
      <app-left-menu-item name="Logs" iconName="notes" routerLink="/logs"></app-left-menu-item>
      <app-left-menu-item name="Settings" iconName="settings" routerLink="/settings"></app-left-menu-item>
    </div>
    <div class="content">
      <div *ngIf="isRootRoute()" fxLayout="column" fxLayoutAlign="center center" class="not-selected-info">
        Welcome in gRESTpIO
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
