<div class="settings-container">
  <h1>Settings</h1>
  <div class="settings-form">
    <form [formGroup]="settingsForm" (ngSubmit)="onSave()">
      <div fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Log Level" formControlName="logLevel">
            <mat-option *ngFor="let item of logLevels" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="settingsForm.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
