<form [formGroup]="form" (ngSubmit)="onSave()">
  <div fxLayoutAlign="center">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-hint align="end">Your config name</mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div>
      <mat-form-field>
        <mat-select placeholder="GPIO Pin" formControlName="pin">
          <mat-option *ngFor="let item of gpioPins" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-icon>arrow_forward</mat-icon>
    </div>
    <div fxLayout="column">
      <div>
        <mat-form-field>
          <input matInput placeholder="Host" formControlName="host">
          <mat-hint align="end">http://external_server.io</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Port" formControlName="port" type="number" [maxLength]="5">
          <mat-hint align="end">8080</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Endpoint" formControlName="endpoint">
          <mat-hint align="end">/api/v1/endpoint</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Method" formControlName="method" (selectionChange)="onHttpMethodChange($event)">
            <mat-option *ngFor="let item of methods" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Body - JSON" formControlName="body">
          </textarea>
        </mat-form-field>
      </div>

    </div>
  </div>
  <div fxLayoutAlign="end" class="buttonsPanel">
    <button mat-button color="accent" *ngIf="canBeCanceled()" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" *ngIf="isEditEnabled" [disabled]="form.invalid">Save
      configuration
    </button>
    <button mat-raised-button color="primary" (click)="onEdit()" *ngIf="!isEditEnabled">Edit</button>
    <button mat-stroked-button color="warn" *ngIf="canBeDeleted()" (click)="onDelete()">Delete</button>
  </div>
</form>
